.avatar {
  width: 250px;
}
.skin {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 8.5px;
  margin: 5px;
  border: 1px solid #FFF;
  cursor: pointer;
}
.skin:hover {
  opacity: 0.8;
}