.room_data {
  margin-bottom: 10px;
}
.player_state {
  position: absolute;
  vertical-align: middle;
  top: 8px;
  right: 7px;
  font-family: BebasNeueBook;
  font-size: 15px;
}
.owner {
  color: #EFDB00;
}
.ready {
  color: #00FF00;
}
.not_ready {
  color: #E00000;
}