* { margin: 0; padding: 0; border: none; }


body {
    background-image: url("images/bg_blue_red.jpg");
    background-position: top center; 
    font-family: BebasNeueLight;
}

/* Logout and top-right corner welcome back message */
.logout_container {
  position: absolute;
  top: 1vw;
  left: 1vw;
  color: #FFF;
  font-size: 2vw;
}

.logout_btn {
  display: inline-block;
}

/* General CSS */
/* General Button */
.btn {
  border-radius: 0.4vw;
  cursor: pointer;
  background-image: url("images/btn_bg.png");
  background-clip: padding-box;
  border: 0.3vw solid;
  border-color: rgba(255,255,255,.2);
  padding: 0.8vw 1vw 0.3vw 1.2vw;
}
.btn:hover {
  text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 1px 1px 7px #FFF, 0 0 0 #FFF;
  background-image: url("images/btn_bg_hover.png");
  border-color: rgba(255,255,255,.3);
}

/* Menu top logo */
.menu_top {
  position: absolute;
  top: 0;
  width: 70%;
  left: 15%;
}

/* Offset the title (menu_top) */
.menu_top_margin {
  height: 26vw;
  width: 100%;
}

.menu_btn_container {
  padding-top: 40px;
  text-align: center;
}
.menu_btn_txt {
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 12vw;
  font-size: 3.5vw;
  text-align: center;
  color: #FFF;
}
.menu_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 20vw;
  margin: 0px 30px 0px 30px;
}

.menu_btn_img {
  pointer-events: none;
  position: absolute;
  top: 3vw;
  left: 30%;
  width: 40%;
}

.menu_btn_bg {
  width: 100%;
  opacity: 0.55;
  filter: alpha(opacity=55);
  margin-bottom: 10px;
}

.menu_btn_bg:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-bottom: 0px;
}

@media only screen and (max-width: 400px) {
  .menu_top {
    width: 280px;
    left: 50%;
    margin-left: -140px; 
  }
}