/* Default styling */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
.clear {
  clear: both;
}
/* Footer */
.white_line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px 20px 20px 20px;
}
.footer {
  text-align: center;
  font-size: 20px;
  margin: 20px 0 20px 0;
}

body {
  position: relative;
  background-image: url("images/bg_blue_red.jpg");
  background-position: top center; 
  font-family: BebasNeueLight;
  color: #FFF;
  width: 100%;
}

/* Logout and top-right corner welcome back message */
.logout_container {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFF;
  font-size: 25px;
}

.logout_btn {
  display: inline-block;
}

/* General CSS */
/* General Button */
.btn {
  border-radius: 0.4vw;
  cursor: pointer;
  background-image: url("images/btn_bg.png");
  background-clip: padding-box;
  border: 0.3vw solid;
  border-color: rgba(255,255,255,.2);
  padding: 0.8vw 1vw 0.3vw 1.2vw;
}
.btn:hover {
  text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 1px 1px 7px #FFF, 0 0 0 #FFF;
  background-image: url("images/btn_bg_hover.png");
  border-color: rgba(255,255,255,.3);
}
.box {
  border-radius: 0.3vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.3vw solid;
  border-color: rgba(255, 255, 255, .2);
  background-clip: padding-box;
}

.play_left {
  float: left;
  width: 65%;
  margin-right: 20px;
}
.play_right {
}
.play_lobby {}
.play_table {
  font-size: 21px;
  width: 100%;
  text-align: center;
}
.play_table th {
  font-family: BebasNeueRegular;
  background-color: rgba(0, 0, 0, .65);
}
.play_table td, .play_table th {
  border: 1px solid rgba(255, 255, 255, .2);
  margin: 0;
  padding: 5px 5px 2px 5px;
}
.play_table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .2);
}
.lobby tr:not(thead):hover {
  background-color: rgba(0, 0, 0, .7);
}

.play_profile {
  overflow: auto;
}
.play_avatar img {
  width: 60%;
  margin: 0 auto;
}
.play_btn {
  overflow: auto;
  text-align: center;
  margin-bottom: 12px;
  font-size: 30px;
}

/* Small */
/* Play */
.small_container {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
.small_top {
  position: absolute;
  top: 0;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  z-index: -2;
}
.small_top_margin {
  height: 115px;
  width: 100%;
}
.small_top_subtitle {
  font-family: BebasNeueBook;
  position: absolute;
  text-align: center;
  font-size: 21px;
  top: 88px;
  width: 100%;
}

/* Menu */
/* Menu top logo */
.menu_top {
  position: absolute;
  top: 0;
  width: 70%;
  left: 15%;
}

/* Offset the title (menu_top) */
.menu_top_margin {
  height: 26vw;
  width: 100%;
}

.menu_btn_container {
  padding-top: 40px;
  text-align: center;
}
.menu_btn_txt {
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 12vw;
  font-size: 3.5vw;
  text-align: center;
  color: #FFF;
}
.menu_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 20vw;
  margin: 0px 30px 0px 30px;
}

.menu_btn_img {
  pointer-events: none;
  position: absolute;
  top: 3vw;
  left: 30%;
  width: 40%;
}

.menu_btn_bg {
  width: 100%;
  opacity: 0.55;
  filter: alpha(opacity=55);
  margin-bottom: 10px;
}

.menu_btn_bg:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-bottom: 0px;
}

@media only screen and (max-width: 400px) {
  .menu_top {
    width: 280px;
    left: 50%;
    margin-left: -140px; 
  }
}